
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--joy-fontFamily-body, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"));
}


.bdy-div{
  min-height: 100vh;
}

.frm-bg{
  background: linear-gradient(90deg, rgba(32,205,163,1) 0%, rgba(89,201,78,1) 100%);
}

body{
  overflow-y: scroll;
}

.frm-width{
  width: 80%;
}

.pntr{
  cursor: pointer;
}

.brd-radis{
  border-radius: 1rem;
}

.decoration-no{
  text-decoration: none;
}

.ml-left{
  margin-left: 2rem !important;
}

.user-menu{
  position: absolute;
  right: 0.1rem;
}

.list-dot-no{
  list-style: none;
}

.user-menu-lftpading{
  padding-inline-start: 0;
}

/* Loader Styles */
.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 30px;
  height: 40px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 40px;
  }

  50% {
    height: 100px;
  }

  100% {
    height: 40px;
  }
}

/*  End Of Loader  */

.hgt-full{
  height: 100vh;
}
.wdt-full{
  width: 100%;
}
